<% content_for :page_title do %>
<title>Create a Fate Character</title>
<% end %>

<% content_for :extra_css do %>
.aspect-input {
	min-width: 150px;
}
.equal, .equal > div[class*='col-'] {  
    display: flex;
}
.row-eq-height {
	display: flex;

}
.singular {
	margin: 3px;
	margin-top: 12px;
	position: initial;
	width: 100px;
}
.skill-btn-row {
	height:50px;
}
.test {
	height: 100%;
	style: inline-block;
}
.dropdown-menu:open {
	float: right;
	overflow: visible;
}
.static-col {
	width: 110px;
}
.btn-default:hover {
	background-color: #1A1A1A;
	color: #FFFFFF;
}
.nav-pills > li > a {
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	background-color: #1B1B1B;
	color: #FFFFFF;
	border: 2px solid #1A5086;
}
.nav-pills > li > a:hover {
	background-color: #1B1B1B;
}
.layered-tab {
	margin-top: 5px;
}
.content-centered {
	display: inline-block;
}
.heading-centered {
	display: inline-block;
	text-align: center !important;
	width: 100%;
}
#add_stunt, #add_extra {
	cursor: pointer;
}
.ig-spaced {
	margin-top: 15px;
}
<% end %>

<% content_for :more_js do %>
<script src="/js/chars/fate_char.js"></script>
<% end %>

<form action="/make/char/fate">
	<div class="container-fluid">
		<div class="row row-eq-height equal">
			<div class="col-lg-7">
				<div class="panel panel-primary super-panel">
					<div class="panel-heading">ID</div>
					<div class="panel-body test" id="id_panel_body">
						<div class="row temp row-eq-height" id="row_left_0">
							<div class="col-lg-6">
								<div class="panel panel-primary" id="name_panel">
									<div class="panel-heading">Character Name</div>
									<div class="panel-body" id="char_name_body">
										<div class="input-group" id="char_name_input_group">
											<span class="input-group-addon">Name</span> 
											<input class='form-control' type='text' name='character_name' id="character_name" />
										</div>
									</div>
								</div>
								<div class="panel panel-primary" id="personality_panel">
									<div class="panel-heading">Character Personality</div>
									<div class="panel-body" id="char_name_body">
										<div class="input-group" id="char_personality_input_group">
											<span class="input-group-addon">Personality</span> 
											<textarea class='form-control' rows="3" type='text' name="character_personality" id="character_personality"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="panel panel-primary test" id="aspects_panel">
									<div class="panel-heading">Aspects</div>
									<% temp_aspects = ["High Concept", "Trouble", "Phase One", "Phase Two", "Phase Three"] %>
									<div class="panel-body" id="aspects_body">
									<% for i in 0...temp_aspects.length %>
										<div class="input-group" id=<%= "\"aspects_input_group_" + i.to_s + "\"" %>>
											<span class="input-group-addon aspect-input"><%= temp_aspects[i] %></span>
											<input class="form-control" type="text" name=<%= "\"aspect_" + i.to_s + "\"" %> id=<%= "\"aspect_" + i.to_s + "\"" %>/>
										</div>
									<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="panel panel-primary super-panel vcenter">
					<div class="panel-heading">Visuals</div>
					<div class="panel-body" id="visuals_panel_body">
						<div class="row row-eq-height" id="row_left_0">
							<div class="col-lg-7">
								<div class="panel panel-primary">
									<div class="panel-heading">Image URL</div>
									<div class="panel-body">
										<div class="input-group" id="img_url_input_group">
											<span class="input-group-addon">URL</span>
											<input class="form-control" type="url" name="img_url" id="img_url"/>
										</div>
									</div>
								</div>
								<div class="panel panel-primary">
									<div class="panel-heading">Description</div>
									<div class="panel-body">
										<div class="input-group" id="description_input_group">
											<span class="input-group-addon">Description</span>
											<textarea class="form-control" rows="3" name="char_desc" id="char_desc"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="panel panel-primary">
									<div class="panel-heading">Image</div>
									<div class="panel-body">
										<img src="http://img3.wikia.nocookie.net/__cb20110302033947/recipes/images/1/1c/Avatar.svg" width=240 alt="" id="char_pic">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-primary super-panel">
					<div class="panel-heading">Skills</div>
					<div class="panel-body">
						<% skill_list = JSON.generate(["(None)", "Athletics", "Burglary", "Contacts", "Crafts", "Deceive", "Drive", "Empathy", "Fight", "Investigate",
						"Lore", "Notice", "Physique", "Provoke", "Rapport", "Resources", "Shoot", "Stealth", "Will"]) %> 
						<% ranks_list = ["+5", "+4", "+3", "+2", "+1"] %> 
						<% skill_points = 20 %> 
						<% skill_arrangement = "Pyramid" %> 
						<% refresh = 6 %> 
						<% min_stunts = 3 %>
						<% max_stunts = 5 %>
						<input type="hidden" id="skill_list" value=<%=skill_list %>> 
						<input type="hidden" id="skill_arrangement" value=<%= "\"" + skill_arrangement + "\"" %>> 
						<input type="hidden" id="skill_points" value=<%= "\"" + skill_points.to_s + "\"" %>>
						<input type="hidden" id="refresh" value=<%= "\"" + refresh.to_s + "\""%>>
						<input type="hidden" id="min_stunts" value=<%= "\"" + min_stunts.to_s + "\""%>>
						<input type="hidden" id="max_stunts" value=<%= "\"" + max_stunts.to_s + "\""%>>
						<div class="row row-eq-height">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-4">
										<div class="panel panel-primary">
											<div class="panel-heading heading-centered">Skill Arrangement</div>
											<div class="panel-body text-center">
												<ul class="nav nav-pills content-centered">
													<li role="presentation"><a><%= skill_arrangement %></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="panel panel-primary">
											<div class="panel-heading heading-centered">Total Skill Points</div>
											<div class="panel-body text-center">
												<ul class="nav nav-pills content-centered">
													<li role="presentation"><a><%= skill_points %></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="panel panel-primary">
											<div class="panel-heading heading-centered">Skill Points Remaining</div>
											<div class="panel-body text-center">
												<ul class="nav nav-pills content-centered">
													<li role="presentation"><a id="skill_points_remaining"><%= skill_points %></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-primary">
									<div class="panel-heading">Skill Select</div>
									<div class="panel-body">
										<div class="col-lg-12">
											<div class="row">
												<div class="container-fluid">
													<% for i in 0...5 %> <input type="hidden" value=0 name=<%= "\"skills_at_" + (5-i).to_s + "\"" %> id=<%= "\"skills_at_" +
													(5-i).to_s + "\"" %>>
													<div class="row row-eq-height skill-btn-row">
														<ul class="nav nav-pills">
															<li role="presentation"><a><%= ranks_list[i] %></a></li>
														</ul>
														<% for t in 0...7 %>
														<div class="static-col">
															<div class="btn-group-single">
																<button type="button" class="btn btn-default dropdown singular" data-toggle="dropdown" aria-expanded="false"
																	id="presets_dropdown_button" skill="(None)">
																	<span id=<%= "\"row_" + i.to_s + "_col_" + t.to_s + "_skill\"" %>>(None)</span> <span class="caret"></span>
																</button>
																<ul class="dropdown-menu" role="menu">
																	<% for x in 0...JSON.parse(skill_list).length %>
																	<li><a onclick=<%= "\"chooseSkill(" + "'row_" + i.to_s + "_col_" + t.to_s + "_skill'" + ", '" + JSON.parse(skill_list)[x] +
																			"')\"" %>><%= JSON.parse(skill_list)[x] %></a></li> <% end %>
																</ul>
															</div>
														</div>
														<% end %>
													</div>
													<% end %>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-primary super-panel">
					<div class="panel-heading">Stunts and Extras</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-3">
								<div class="panel panel-primary">
									<div class="panel-heading heading-centered">Total Refresh</div>
									<div class="panel-body text-center">
										<ul class="nav nav-pills content-centered">
											<li role="presentation"><a><%= refresh %></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="panel panel-primary">
									<div class="panel-heading heading-centered">Remaining Refresh</div>
									<div class="panel-body text-center">
										<ul class="nav nav-pills content-centered">
											<li role="presentation"><a id="refresh_remaining_a"><%= refresh %></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="panel panel-primary">
									<div class="panel-heading heading-centered"># Required Stunts</div>
									<div class="panel-body text-center">
										<ul class="nav nav-pills content-centered">
											<li role="presentation"><a><%= min_stunts %></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="panel panel-primary">
									<div class="panel-heading heading-centered"># Allowed Stunts</div>
									<div class="panel-body text-center">
										<ul class="nav nav-pills content-centered">
											<li role="presentation"><a><%= max_stunts %></a></li>
										</ul>
									</div>
								</div>
							</div>	
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-primary">
									<div class="panel-heading">Advantages</div>
									<div class="panel-body">
										<ul class="nav nav-tabs" data-tabs="tabs">
											<li class="active">
												<a data-toggle="tab" href="#stunts">Stunts</a>
											</li>
											<li>
												<a data-toggle="tab" href="#extras">Extras</a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active fade in" id="stunts">
												<div class="tabbable">
													<ul class="nav nav-tabs" data-tabs="tabs">
														<li id="stunt-add-li">
															<a class="layered-tab" id="add_stunt">+</a>
														</li>
													</ul>
													<div class="tab-content" id="stunts-tab-content">
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="extras">
												<div class="tabbable">
													<ul class="nav nav-tabs" data-tabs="tabs">
														<li id="extra-add-li">
															<a class="layered-tab" id="add_extra">+</a>
														</li>
													</ul>
													<div class="tab-content" id="extras-tab-content">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-primary super-panel">
					<div class="panel-heading">Notes</div>
					<div class="panel-body">
						<div class="panel panel-primary">
							<div class="panel-heading">Public</div>
							<div class="panel-body"></div>
						</div>
						<div class="panel panel-primary">
							<div class="panel-heading">Secret</div>
							<div class="panel-body"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-primary super-panel">
					<div class="panel-heading">Backstory</div>
					<div class="panel-body"></div>
				</div>
			</div>
		</div>
	</div>
</form>